<table class="table" id="table-user">
  <thead>
    <tr>
      <th><%= t ".create_time" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<div class="align-center">
  <%== pagy_bootstrap_nav @pagy %>
</div>
