<div class="row exam">
  <h3><%= t ".title" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th class="created_date"><%= t ".created_date" %></th>
        <th class="subject"><%= t ".subject" %></th>
        <th class="duration"><%= t ".duration" %></th>
        <th class="question_number"><%= t ".question_number" %></th>
        <th class="spent_time"><%= t ".spent_time" %></th>
        <th class="score"><%= t ".score" %></th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>
      <% @exams.each do |exam| %>
        <tr>
          <td><%= exam.created_at.strftime Settings.index.time_format %></td>
          <td><%= exam.subject_name %></td>
          <td><%= exam.subject_duration %></td>
          <td><%= exam.questions.count %></td>
          <td><%= spent_time(exam.finish_time, exam.start_time) unless exam.finish_time == nil %></td>
          <td><%= exam.result_score %></td>
          <td>
            <%= link_to t(".start"), exam, class:"btn btn-success button", id:"exam" unless exam.result_score %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="align-center">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
