<% provide :title, t(".title") %>
<div class="user-exam">
  <h2 class="align-center"><%= @exam.subject.name %></h2>
  <hr>
  <%= form_for(:record, url: records_path)  do |f| %>
    <ol class="exam-questions-list user-exam-questions-list">
      <% @exam_questions.each do |question| %>
        <%= render "question", question: question, f: f %>
      <% end %>
    </ol>
    <%= hidden_field_tag :exam_id, params[:id] %>
    <%= f.submit ".submit", class: "btn btn-primary" %>
  <% end %>
</div>
