<% provide :title, t(".title") %>
<%= hidden_field_tag :duration, @exam.subject_duration %>
<div class="user-exam">
  <h2 class="align-center"><%= @exam.subject_name %></h2>
  <div class="timer">
    <div><%= t ".time_remaining" %></div>
    <div class="countdown align-center"></div>
  </div>
  <hr>
  <%= form_for(:record, url: records_path)  do |f| %>
    <ol class="exam-questions-list user-exam-questions-list">
      <% @exam_questions.each do |question| %>
        <%= render "question", question: question, f: f %>
      <% end %>
    </ol>
    <%= hidden_field_tag :exam_id, params[:id] %>
    <%= f.submit t(".submit"), class: "btn btn-primary submit-exam" %>
  <% end %>
</div>
