 <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t(".home_name"), home_page, class:"navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), home_page %></li>
        <% if user_signed_in? %>
          <li><%= link_to t(".exams"), exams_path %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
              <i class="fa-solid fa-angle-down s-13"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><%= link_to t(".profile"), current_user %></li>
              <li> <%= link_to t(".log_out"), logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".sign_up"), new_user_registration_path %></li>
          <li><%= link_to t(".log_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
